nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    width: 500px;
    margin: 2rem;
    border: 1px solid rgb(0, 0, 0.2);
    padding: 1rem;
    background-color: rgb(61, 61, 105);
    color: wheat;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 2em;
    border-top: 0.5em solid darkblue;
    text-align: center;
    padding-bottom: 5px;
}